{% load static %}
<!-- Vendor JS Files -->
<script src="{% static 'frontend/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'frontend/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'frontend/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'frontend/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'frontend/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'frontend/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'frontend/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'frontend/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'frontend/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'frontend/vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'frontend/vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'frontend/js/main.js'%}"></script>