{% extends 'cms/base.html' %}
{% load widget_tweaks %}
{% block title %} Login {% endblock %}

{% block content %}
<section class='row p-0 h-100'>
    
    {% include 'registration/_includes/_sidebar.html' %}
    

    <div class='col-md-8' style='margin-top: 20.75%; margin-bottom: 19.75%'>
        <form autocomplete="off" action="{% url 'forgot_password' %}" method='POST' class='col-md-6'>
            {% csrf_token %}

            {% if not form.errors %}
                {{ form.errors }}
            {% endif %}

            <div class='form-group'>
                <label for="{{ form.email.id }}"><small>{{ form.email.label }}</small></label>
                {{ form.email|add_class:'form-control' }}
            </div>
        
            <button type="submit" class="btn btn-primary btn-sm">Forgot Password</button>
            <span><a href="{% url 'login' %}"><small><i class='bx bx-log-out'></i> Go Back to Login</small></a></span>
            
        </form>

        
    </div>
</section>
{% endblock %}